<!--footer-->
<footer id="footer">
	<div class="top-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 marb20">
					<div class="ftr-tle">
						<h4 class="white no-padding">About Us</h4>
					</div>
					<div class="info-sec">
						<p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 marb20">
					<div class="ftr-tle">
						<h4 class="white no-padding">Quick Links</h4>
					</div>
					<div class="info-sec">
						<ul class="quick-info">
							{% for item in sulu_navigation_root_tree('footer') %}
								{% set item_path=sulu_content_path(item.url) %}
								<li>
									<a href="{{ item_path }}" title="{{ item.title }}">
										<i class="fa fa-circle"></i>
										{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 marb20">
					<div class="ftr-tle">
						<h4 class="white no-padding">Follow us</h4>
					</div>
					<div class="info-sec">
						<ul class="social-icon">
							<li class="bglight-blue">
								<i class="fa fa-facebook"></i>
							</li>
							<li class="bgred">
								<i class="fa fa-google-plus"></i>
							</li>
							<li class="bgdark-blue">
								<i class="fa fa-linkedin"></i>
							</li>
							<li class="bglight-blue">
								<i class="fa fa-twitter"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-line">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					© Copyright Medilab Theme. All Rights Reserved
					<div
						class="credits">
						<!--
						                All the links in the footer should remain intact.
						                You can delete the links only if you purchased the pro version.
						                Licensing information: https://bootstrapmade.com/license/
						                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
						              -->
						Designed by
						<a href="https://bootstrapmade.com/">BootstrapMade.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--/ footer-->
