<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-md-12">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/{{ app.request.locale }}"><img src="/img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/{{ app.request.locale }}">Startseite</a></li>
          <li class=""><a href="/{{ app.request.locale }}#service">Wir bieten</a></li>
          <li class=""><a href="/{{ app.request.locale }}#about">Über uns</a></li>
          <!-- <li class=""><a href="#testimonial">Testimonial</a></li>-->
          <!--<li class=""><a href="/#contact">Kontakt</a></li>-->

          {% for item in sulu_navigation_root_tree('main') %}
            {% set item_path=sulu_content_path(item.url) %}
            <li class="">
              <a href="{{ item_path }}" title="{{ item.title }}">
                {{ item.title }}
              </a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>