[global]
error_log = /proc/self/fd/2
log_level = notice
daemonize = no

[www]
group = {{ .Env.SYSTEM_APPUSER_NAME }}
user = {{ .Env.SYSTEM_APPUSER_NAME }}

listen = /var/run/php-fpm-www.sock
listen.owner = {{ .Env.SYSTEM_APPUSER_NAME }}
listen.group = {{ .Env.SYSTEM_APPUSER_NAME }}

pm = dynamic
pm.max_children = {{ default .Env.PHPFPM_PM_MAX_CHILDREN "5" }}
pm.min_spare_servers = {{ default .Env.PHPFPM_PM_MIN_SPARE_SERVERS "1" }}
pm.max_spare_servers = {{ default .Env.PHPFPM_PM_MAX_SPARE_SERVERS "3" }}
pm.max_requests = {{ default .Env.PHPFPM_PM_MAX_REQUESTS "500" }}

chdir = /
clear_env = no
catch_workers_output = no

php_value[memory_limit] = 512M
php_value[session.name] = SPAREPART_SID
php_value[session.hash_function] = 1
php_flag[session.cookie_httponly] = on
php_value[max_execution_time]=60
