{% extends 'base.html.twig' %}

{% block content %}
<main class="container default">
    <div class="row">
        <div class="col">
        {{ content.title }}
        {% if content.article %}
            {{ content.article|raw }}
        {% elseif content.blocks %}
            {% for block in content.blocks %}
                {% include "blocks/" ~ block.type ~ ".html.twig" %}
            {% endfor %}
        {% endif %}
    
        </div>
    </div>
</main>
{% endblock %}
