{% extends 'base.html.twig' %}

{% block content %}
<main class="container default">
    <div class="row">
        <div class="col">
        {% if content.articles is defined and content.articles %}
        <section id="cta-1" class="section-padding">
            <div class="container">
            <div class="row">
                <div class="schedule-tab">
                {% for article in articles %}
                <div class="col-md-4 col-sm-4 bor-left">
                    <div class="mt-boxy-color"></div>
                    <div class="medi-info">
                    <h3>{{ article.title}}</h3>
                    <p>{{ article.description | raw }}</p>
                    <a href="{{ sulu_content_path(article.url) }}" class="medi-info-btn">READ MORE</a>
                    </div>
                {% endfor %}
                </div>
            </div>
            </div>
        </section>
        {% endif %}

        </div>
    </div>
</main>
{% endblock %}
