{% extends "base.html.twig" %}

{% block style %}
    {{ content.styles|raw }}
{% endblock %}

{% block body %}
<main class="container default">
    <div class="row">
        <div class="col">
            {{ content.content|raw }}
        </div>
    </div>
</section>
{% endblock %}
