{% extends 'base.html.twig' %}

{% block content %}
<main class="container default">
    <div class="row">
        <div class="col">

            {% set i = 0 %}
            {% for teaser in content.campaigns %}
            {% set i = i + 1 %}
            {% if i % 2 %}
            </div>
            <div class="columns">
            {% endif %}
                <div class="column is-6 teaser.-card card-text-block">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">{{ teaser.title }}</p>
                        </div>
                        
                        <div class="card-content">
                            {% set teaserImage = sulu_resolve_media(teaser.mediaId, app.request.locale) %}
                            {% if teaserImage %}
                                <div class="image">
                                    <img src="{{ teaserImage.formats['300x'] }}" alt="{{ teaserImage.title }}">
                                </div>
                            {% endif %}
                            <div class="content">
                                {{ teaser.description|raw }}
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="{{ sulu_content_path(teaser.url) }}" class="card-footer-item">
                                {{ teaser.moreText|default('reat on') }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}
