{% extends "base.html.twig" %}

{% block content %}
<main class="container default">
    <div class="row">
        <div class="col">
            <h1>{{ content.title }}</h1>
            {{ content.article|raw }}
        </div>
    </div>
</main>
{% endblock %}
