{% extends "base.html.twig" %}

{% block header %}
      
<section id="banner" class="banner">
  <div class="bg-color">
      {% include "includes/navigation.html.twig" %}
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <img src="/img/logo.png" class="img-responsive">
            </div>
            <div class="banner-text text-center">
              {% if content.header_title is defined %}<h1 class="white">{{ content.header_title }}</h1>{% endif %}
              {% if content.header_sub_title is defined %}<p>{{ content.header_sub_title }}</p>{% endif %}
              {% if content.header_button is defined %}<a href="#contact" class="btn btn-appoint">{{ content.header_button }}</a>{% endif %}
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">{{ content.service_title }}</h2>
          <hr class="botm-line">
          <p>{{ content.service_description }}</p>
        </div>
        <div class="col-md-4 col-sm-4">
          {% set i = 0 %}
          {% for service in content.services %}          
          {% set i = i + 1 %}
          {% if i % 2 %}
          </div>
          <div class="col-md-4 col-sm-4">
          {% endif %}
          <div class="service-info">
            <div class="icon">
              <i class="fa {{ service.icon }}"></i>
            </div>
            <div class="icon-info">
              <h4>{{ service.title }}</h4>
              <p>{{ service.description }}</p>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->
  <!--cta-->
  {% if content.campaigns is defined and content.campaigns %}
  <section id="cta-1" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="schedule-tab">
          {% for article in articles %}
          <div class="col-md-4 col-sm-4 bor-left">
            <div class="mt-boxy-color"></div>
            <div class="medi-info">
              <h3>{{ article.title}}</h3>
              <p>{{ article.description | raw }}</p>
              <a href="{{ sulu_content_path(article.url) }}" class="medi-info-btn">READ MORE</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!--cta-->
  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">{{ content.vision_title }}</h2>
            <hr class="botm-line">
            <p class="sec-para">{{ content.vision_description }}</p>
            <!-- <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>-->
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box"> 
          {% for vision in content.visions  %}
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>{{ vision.title }}</h3>
                <p>{{ vision.description }}</p>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ about-->
  <!--doctor team-->
  {% if content.members %}
  <section id="doctor-team" class="section-padding">
    <div class="container">
      <div class="row">
  
        {% for member in content.members %}
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="thumbnail">
            {% if member.image %}<img src="{{ member.image.format(['300x300'])}}" alt="{{ member.name}}" class="team-img">{% endif %}
            <div class="caption">
              <h3>{{ member.name}}</h3>
              <p>{{ member.description}}</p>
              <ul class="list-inline">
                <li><a href="{{ member.facebook}}"{{ member.name}}><i class="fa fa-facebook"></i></a></li>
                <li><a href="{{ member.twitter}}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{ member.instagram}}"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  <!--/ doctor team-->
  <!--testimonial-->
  {% if content.testamonials is defined and content.testamonials %}
  <section id="testimonial" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">see what patients are saying?</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!--/ testimonial-->
  <!--cta 2-->
  <section id="cta-2" class="section-padding">
    <div class="container">
      <div class=" row">
        <div class="col-md-2"></div>
        <div class="text-right-md col-md-4 col-sm-4">
          <h2 class="section-title white lg-line">« {{ content.about_title_up }}<br> {{ content.about_title_down }} »</h2>
        </div>
        <div class="col-md-4 col-sm-5">
          {{ content.about_description }}
          <p class="text-right text-primary"><i>— {{ content.about_quote }}</i></p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
  <!--cta-->
  <!--contact-->
  <!--
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <h3>Contact Info</h3>
          <div class="space"></div>
          <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>321 Awesome Street<br> New York, NY 17022</p>
          <div class="space"></div>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@companyname.com</p>
          <div class="space"></div>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 800 123 1234</p>
        </div>
        <div class="col-md-8 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Having Any Query! Or Book an appointment</h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div class="form-action">
                <button type="submit" class="btn btn-form">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->
  <!--/ contact-->
{% endblock %}
