<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "urls": urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/build/website/base.css?v={{ version }}">
    {% block style %}
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    {% endblock %}
</head>
{% block body %}
<body>

    <!--banner-->
    {% block header %}
    <section id="header" class="header">
        <div class="bg-color-small">
        {% include "includes/navigation.html.twig" %}
        </div>
    </section>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
  <!--/ banner-->
        {% include "includes/footer.html.twig" %}
    {% endblock %}

    {% block javascripts %}
 
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/contactform/contactform.js"></script>
      <!-- Bootstrap core JavaScript -->
    <script src="/build/website/app.js"></script>
    {% endblock %}
</body>
{% endblock %}
</html>
