<div class="column is-{{ block.tileLength }}{% if block.tileClass %} {{ block.tileClass }}{% endif %}">
    <div class="card is-shady">
        <div class="card-content">
            <div class="content">
                <blockquote cite="{{ block.source }}">
                    {{ block.body }}
                </blockquote>
                <p><small>Source: <a href="{{ block.source }}" target="_blank">{{ block.source }}</a></small></p>
            </div>
        </div>
    </div>
</div>
