<div class="column is-{{ block.tileLength }}{% if block.tileClass %} {{ block.tileClass }}{% endif %} card-text-block">
    <div class="card">
        {% if block.header %}
        <div class="card-header">
            {{ block.header }}
        </div>
        {% endif %}
        <div class="card-content">
            {{ block.body|raw }}
        </div>
        {% if block.footer %}
        <div class="card-footer">
            {{ block.footer }}
            <a href="{{ block.buttonLink }}" class="card-footer-item">{{ block.buttonText }}</a>
        </div>
        {% endif %}
        {% if block.buttonText and block.buttonLink %}
        <div class="card-footer">
            <a href="{{ block.buttonLink }}" class="card-footer-item">{{ block.buttonText }}</a>
        </div>
        {% endif %}
    </div>
</div>
