<div class="column is-{{ block.tileLength }}{% if block.tileClass %} {{ block.tileClass }}{% endif %} card-text-block">
    <div class="card">
        {% if block.title %}
        <div class="card-header">
            {{ block.title }}
        </div>
        {% endif %}
        <div class="card-content">
            {% if block.url %}
            <a href="{{ block.url }}"{% if block.title %} title="{{block.title}}{% endif %} target="_blank">
            {% endif %}
            {% if block.image %}
            <img src="{{ block.image.thumbnails['800x400'] }}"{% if block.alt %} alt="{{ block.alt }}"{% endif %}{% if block.title %} {{ block.title }}{% endif %}/>
            {% endif %}
            {% if block.url %}
            </a>
            {% endif %}
        </div>
    </div>
</div>
