<div class="column is-{{ block.tileLength }}{% if block.tileClass %} {{ block.tileClass }}{% endif %}">
    {% if block.url %}
        <a href="{{ block.url }}"{% if block.title %} title="{{block.title}}{% endif %} target="_blank">
    {% endif %}
    {% if block.image %}
        <img src="{{ block.image.thumbnails['800x400'] }}"{% if block.alt %} alt="{{ block.alt }}"{% endif %}{% if block.title %} {{ block.title }}{% endif %}/>
    {% endif %}
    {% if block.url %}
        </a>
    {% endif %}
</div>
