<div class="column is-12 card-text-block">
    <div class="card">
        <div class="card-header">
            <span>{{ block.publicationDate }}: {{ block.title }}</span>
        </div>
        <div class="card-content">
                {% if block.download %}
                    {% set url = sulu_get_media_url(block.download, 'inline') %}
                    Download: <a href="{{ url }}" title="Download: {{ block.title }}">PDF</a>
                {% endif %}
        </div>
    </div>
</div>
