<div class="column is-12 card-text-block">
    <div class="card">
        <div class="card-header">
            <a href="{{ block.url }}" target="_blank">
                <span>{{ block.eventDate }} | {{ block.location }}<span>
            </a>
        </div>
        <div class="card-content">
            <a href="{{ block.url }}" target="_blank" title="{{ block.title }}">{{ block.title }}</a>
        </div>
    </div>
</div>