<div class="columns">
    <div class="column is-12">
        <div class="card">
            <div class="card-header">{{ writer.title}}</div>
            <div class="card-body">{{ writer.description|raw }}</div>
        </div>
    </div>
</div>